@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Coda);

body{
	margin: 0;
	padding: 0;
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
}

img {
	pointer-events: none !important;
}

a{
	text-decoration:none;	
}

img{
    border: 0;
}

h2{
	font-size:14pt;	
	margin:0;
	padding:0;
}

h1{
	font-size: 16pt;
	margin: 0;
	padding: 0;
}

#dvWrapper{
	width: 1000px;
	margin: 0 auto;
	position: relative;
	height: 698px;
	background-image: url(../Images/BG.jpg);
	background-repeat: no-repeat;
}

#ulMenu{
	font-family: 'Coda', cursive;
	list-style: none;
	font-size: 9pt;
	width: 196px;
	margin:0;
	padding:0;
	color:#000;
}

#ulMenu li div{
	color: #FFF;
	display: block;
	background:url(../Images/Menu.png) no-repeat;
	line-height: 22px;
	text-align:right;
	margin-bottom:20px;
	padding-right:6px;
}

#ulMenu li div:hover{
	color: #FFF;
	background:url(../Images/Menu2.png) no-repeat;
	padding-right:12px;
}

.clsPageTitle{
	font-family: 'Coda', cursive;
	padding-left: 10px;
	text-align: left;
	color: #FFF;
}

#container {
	overflow: hidden;
	width: 300px;
	height: 240px;
	text-align: justify;
	line-height: 1.5em;
}

#container2 {
	overflow: hidden;
	width: 470px;
	height: 385px;
	text-align: justify;
	line-height: 1.5em;
}

.clsGreenBorder{
	border: 2px solid #d3f598;
	margin-right: 10px;
}
